# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/oxigenut/HijaukanBumi_bot"
PassengerBaseURI "/bot"
PassengerPython "/home/oxigenut/virtualenv/HijaukanBumi_bot/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv BOT_TOKEN 6628612554:AAEVm4Q57_wc69PgGtYxgncGMdSuqbNS_Kc
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END